
@font-face {
    font-family: "polentical neon bold";
    src: url("../fonts/polentical_neon/Polentical Neon Bold.ttf");
}
@font-face {
    font-family: "helvetica";
    src: url("../fonts/Helvetica-Neue-Font/Helvetica\ Neue\ Medium\ Extended/Helvetica\ Neue\ Medium\ Extended.ttf");
}

.background .logo {
    position: absolute;
}

table {
    font-family: "polentical neon bold";
    border-spacing: 0px;
    border: 3px solid;
    border-color: #081a17;
}

table td {
    padding: 10px
}

.logo-name {
    background: linear-gradient(to right, #de083d, #f7436e);
    color: #081a17;
}

.logo-initial {
    font-size: 36px;
    background-color: #081a17;
    color: #de083d;
}

.logo {
    font-size: 24px;
}


.bw {
    background-color: #fff;
    height: 200; 
    position: relative;
    width: 800px;
    padding-top:100px;
    padding-left: 100px;
}
.bw table {
    border-color: #081a17;
}

.bw .logo-initial {
    color: #081a17;
    background-color: transparent;
}

.bw .logo-name {
    color: #fff;
    background: #081a17;
}
